body{
    font-family: 'Poppins', sans-serif;   
}
/* banner */
.container{  
    margin-bottom: 30px;  
}
.banner-section{
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px; 
    column-gap: 50px;
    align-items: center;  
}
.banner-head{
    color: white;
    padding-left: 40px;
}
h1{
    font-size: 45px;
    margin-bottom: 0;  
}
.banner-text{
    padding: 0;
}
button{
    color: aliceblue;
    background-color: rgb(185, 32, 32);
    padding: 5px;
    border-radius: 5px;   
}
/* Match and sceudule */
.container-match-section{
    display: flex;
    gap: 25px;   
} 
.match-information{
    width: 200px;
    margin-left: 8px;
    padding-right: 5px;
}
.match-header{
   background-color: black;
    padding: 40px 30px;
    border-radius: 7px;
    margin-left: 15px;
    margin-top: 10px;
    padding-bottom: 10px;   
}
.button{
    padding-bottom: 10px;  
}
.button-one {
    color: black;
    background-color: white ;
    padding: 5px 9px;
}
.button-two{
    color: black;
    background-color: white;
    padding: 5px 31px;
}
.button-three{
    background-color: red;
    padding: 5px 45px;  
}
.icon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.live-match{
     display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-gap: 20px;
    margin-left: 15px;
    margin-top: 25px;
    justify-items: auto; 
}
/* Footer section */
footer{
    padding: 100px;
    background-color: black;
}
.goal{
    text-align: center;
    color: white;
}
.page-name{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    color: white;

}
/* social icon */
.icon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
}
.icon{
    width: 20%;
    text-align: center;
    margin-left: 40%;
}
/* media-queries */
/* for mobile */
@media only screen and (max-width:688px) {
    .body {
        width: 100%;
    }
    .match-header{
        flex-direction: row;
    }
    .live-match {
        grid-template-columns: repeat(1, 1fr);

    }

}
/* media-queries */
/* for tablet */
@media only screen and (min-width:689px) and (max-width:980px) {
    .body {
        width: 100%;
    }

    .match-header {
        flex-direction: column;
    }

    .live-match {
        grid-template-columns: repeat(2, 1fr);

    }
}